### Настройки

Начинаем с импорта библиотек

In [80]:
import pandas as pd
import psycopg2

In [81]:
# хороший тон при фиксации изменений в github не публиковать код с открытыми данными для входа
# для запуска кода поместите данные, которые указаны на странице курса в эту ячейку
# при размещении в github удалите эту ячейку

Создаем соединение с заданными параметрами

In [82]:
connection = psycopg2.connect(
   dbname=DBNAME,
   user=USER,
   host=HOST,
   password=PASSWORD,
   port=PORT
)

Запрос

In [97]:
# код запроса представляет из себя строковую переменную

query = f'''select --* 
                id as id
            FROM industries            
         '''
df = pd.read_sql_query(query, connection)
df
# лучше использовать f-строки - так удобнее передавать параметры

C:\Users\USER\AppData\Local\Temp\ipykernel_9440\3935054181.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

          id
0      7.540
1      7.539
2     27.550
3     27.551
4     13.664
..       ...
289   37.626
290   42.603
291   29.532
292   37.627
293  388.505

[294 rows x 1 columns]

### Выполнение запроса

In [92]:
# используем метод read_sql_query, чтобы получить результаты запроса сразу в виде датафрейма
df = pd.read_sql_query(query, connection)
df.sample(3)

C:\Users\USER\AppData\Local\Temp\ipykernel_9440\600205309.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

             id
23393  54905396
15456  54935449
7496   55376184

### Финал

In [ ]:
# не забываем закрыть соединение после окончания работы
connection.close()